.btn-A { /*Boton verde*/
    width: 80px;
    background: #63bb5d;
    border: 1px solid #63bb5d;
    color: #fff;
    padding-top: 8px;
}

    .btn-A:hover {
        background: #4f964b;
        border: 1px solid #4f964b;
        color: #fff;
        padding-top: 8px;
    }
 /***/
.btn-B { /*Botones rojo*/
    width: 80px;
    background: #E4002B;
    border: 1px solid #E4002B;
    color: #fff;
    padding-top: 8px;
}

    .btn-B:hover {
        background: #ca0228;
        border: 1px solid #ca0228;
        color: #fff;
        padding-top: 8px;
    }
 /***/

.btn-C { /*Boton naranja*/
    width: 80px;
    background: #f3a83d;
    border: 1px solid #f3a83d;
    color: #fff;
    padding-top: 8px;
}

    .btn-C:hover {
        background: #c28631;
        border: 1px solid #c28631;
        color: #fff;
        padding-top: 8px;
    }
 /***/

.btn-D { /*Boton azul*/
    width: 80px;
    background: #3FA9F5;
    border: 1px solid #3FA9F5;
    color: #fff;
    padding-top: 8px;
}

    .btn-D:hover {
        background: #2a6aa1;
        border: 1px solid #2a6aa1;
        color: #fff;
        padding-top: 8px;
    }


