
hr.bold {
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 2px solid #ADB2B5; /*#73879C*/
}

.fontCabecera {
    color: #73879C;
}

.textoCabecera {
    font-size: 13px;
}

.contadores {
    font-size: 40px;
    font-weight: bold;
}

.resaltaNaranja {
    color: #E74C3C;
}

.resaltaAzul {
    color: #3498DB;
}

.separador-vertical-derecho-bold {
    border-right: 2px solid #ADB2B5;
}

.bloque{
    height:450px;
    border: 1px solid #f3f3f7;
}