.verical-center {
    vertical-align: middle;
}

.center-content-div {
    text-align: center;
}

.izquierda {
    padding-left: 0;
    vertical-align: middle;
}

#inferior {
    position: fixed;
    color: #FFF;
    background: transparent;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px; 
    z-index: -1;
    height: 150px;
    padding-right: 0;
}

.contextMenu {
    position: absolute;
    display: none;
    background: gray;
}

#full, #form1 {
    height: 100%;
}
.private {
    background: #fff6d3;
    background: rgba(255, 246, 211, 1);
}

.public {
    background: #ffffff;   
}


@media \0screen {
    div {
        height: auto; /* for ie 8 */
    }
}
