@media (min-width: 768px) and (max-width: 979px) {
    body {
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    body {
        font-size: 16px;
    }

    body, input, select, textarea, .form-control {
        font-size: 14px;
        line-height: 1.35em;
    }

    .container-fluid {
        padding: 15px;
    }

    .content-wrapper .view-title {
        max-width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 260px;
        font-size: 16px;
    }

    .header .main-nav-toggle {
        margin-left: 5px;
    }

    .header .utilities-container .item {
        margin-right: 5px;
        padding: 0px 10px;
    }

    /*.header .utilities-container .item-messages .dropdown-menu {
        right: -26px;
    }*/

    /*.header .utilities-container .item-notifications .dropdown-menu {
        top: 40px;
        right: -28px !important;
    }*/

    .header .search-container {
        width: 35px !important;
        margin-left: 35px;
        padding-top: 20px;
    }

        .header .search-container .icon {
            position: absolute;
            left: 12px !important;
        }

            .header .search-container .icon.fa-search {
                position: relative;
            }

            .header .search-container .icon.clear-search {
                right: 15px;
                top: 15px;
                color: #494d55;
            }

    .header .main_search_input_wrapper {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding-top: 4px;
        position: absolute;
        left: 0px !important;
        top: 64px !important;
        height: 60px;
        width: 100% !important;
        background-color: white;
    }

    .header .main_search_input {
        border-color: #f0f0f0;
        background: #f0f0f0;
        padding: 12px;
        height: 40px;
        width: 100%;
    }

    .header .clear-search {
        position: absolute;
        height: 40px;
        margin-top: 10px;
        margin-left: 25px;
        cursor: pointer;
    }

    .header .search-container .main_search_input:focus {
        background-color: transparent;
        border-color: transparent;
    }


    .separador-vertical-derecho {
        border-right: none;
    }

    .module .module-inner {
        padding: 10px 15px;
    }

    .module .module-heading {
        padding-bottom: 15px;
    }

    .dataTables_wrapper .dataTables_filter input[type="search"] {
        width: 160px;
    }

    .modal-fullscreen .modal-dialog {
        width: 100%;
        margin: 0 auto;
    }

    .form-inline .form-group {
        margin-bottom: 5px;
    }

    .form-inline .radio label,
    .form-inline .checkbox label {
        padding-left: 1px;
        vertical-align: bottom;
    }

    .modal-fullscreen .modal-dialog {
        width: 100%;
        margin: 0 auto;
    }

    .help-section .search-box .btn {
        width: 100%;
        margin-top: 5px;
    }


    .view-account .content-panel .title {
        text-align: center;
    }

    .view-account .side-bar .user-info {
        padding: 0;
    }

        .view-account .side-bar .user-info .img-profile {
            width: 60px;
            height: 60px;
        }

        .view-account .side-bar .user-info .meta li {
            margin-bottom: 5px;
        }

    .view-account .content-panel .content-header-wrapper .actions {
        position: static;
        margin-bottom: 30px;
    }

    .view-account .content-panel {
        padding: 0;
    }

        .view-account .content-panel .content-utilities .page-nav {
            position: static;
            margin-bottom: 15px;
        }

    .drive-wrapper .drive-item {
        width: 100px;
        margin-right: 5px;
        float: none;
    }

    .drive-wrapper .drive-item-thumb {
        width: auto;
        height: 54px;
    }

        .drive-wrapper .drive-item-thumb .fa {
            font-size: 24px;
            padding-top: 0;
        }

    .view-account .content-panel .avatar .figure img {
        float: none;
        margin-bottom: 15px;
    }

    .view-account .file-uploader {
        margin-bottom: 15px;
    }

    .file-uploader {
        display: none;
    }

    .file-uploader-label {
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        text-decoration-line: underline;
    }

    .view-account .mail-subject {
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .view-account .content-panel .mails-wrapper .mail-item .time-container {
        position: static;
    }

        .view-account .content-panel .mails-wrapper .mail-item .time-container .time {
            width: auto;
            text-align: left;
        }
}

@media (min-width: 992px) {
    .modal-fullscreen .modal-dialog {
        width: 100%;
        margin: 0 auto;
    }
}


@media (min-width: 992px) {
    /*.auth-section .divider {
        text-align: center;
        margin-bottom: 30px;
        text-transform: uppercase;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
    }

        .auth-section .divider span {
            background: #fff;
            display: inline-block;
            padding: 10px 0;
            position: relative;
            top: 80px;
            margin-left: -10px;
        }

        .auth-section .divider:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            background: #f3f3f7;
            height: 100%;
            width: 1px;
        }

    .auth-section .social-btns {
        padding-left: 65px;
    }

        .auth-section .social-btns .note {
            text-align: left;
        }*/
}

@media print {
    .header {
        display: none;
    }

    #side-panel {
        display: none;
    }

    .main-nav-wrapper {
        display: none;
    }

    .content-wrapper {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    .form-inline .help_search_form {
        width: 250px;
    }

    .view-account .side-bar .user-info {
        padding: 0;
        padding-bottom: 15px;
    }

    .view-account .mail-subject .subject {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (min-width: 992px) {
    .view-account .content-panel {
        min-height: 800px;
        border-left: 1px solid #f3f3f7;
        margin-left: 200px;
    }

    .view-account .mail-subject .subject {
        max-width: 280px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .view-account .side-bar {
        position: absolute;
        width: 200px;
        min-height: 600px;
    }

        .view-account .side-bar .user-info {
            margin-bottom: 0;
            border-bottom: none;
            padding: 30px;
        }

            .view-account .side-bar .user-info .img-profile {
                width: 120px;
                height: 120px;
            }

        .view-account .side-bar .side-menu {
            text-align: left;
        }

            .view-account .side-bar .side-menu .nav {
                display: block;
            }

                .view-account .side-bar .side-menu .nav > li {
                    display: block;
                    float: none;
                    font-size: 14px;
                    border-bottom: 1px solid #f3f3f7;
                    margin-right: 0;
                    margin-bottom: 0;
                }

                    .view-account .side-bar .side-menu .nav > li > a {
                        display: block;
                        color: #9499a3;
                        padding: 10px 15px;
                        padding-left: 30px;
                    }

                        .view-account .side-bar .side-menu .nav > li > a:hover {
                            background: #f9f9fb;
                        }

                    .view-account .side-bar .side-menu .nav > li.active a {
                        background: #f9f9fb;
                        border-right: 4px solid #40babd;
                        border-bottom: none;
                    }

                    .view-account .side-bar .side-menu .nav > li .icon {
                        font-size: 24px;
                        vertical-align: middle;
                        text-align: center;
                        width: 40px;
                        display: inline-block;
                    }
}

@media (min-width: 1200px) {

    .margin-top-btn-consulta {
        margin-top: 35px;
    }
}

@media \0screen {
    .RadSearchBox button {
        overflow: visible !important;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 16px;
    }
}

@media only screen and (max-width : 320px) {
    body {
        font-size: 20px;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
        font-size: 20px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    body {
        font-size: 20px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    body {
        font-size: 20px;
    }

    .form-control {
        font-size: 16px;
    }
}

/* iPhone 4 and high pixel ratio devices ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    body {
        font-size: 14px;
    }

    .form-control {
        font-size: 16px !important;
    }

    .content-wrapper {
        padding-top: 70px;
    }
}
