@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
    src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}

.pMenu a {
    text-decoration: none;
    outline: none;
}

    .pMenu a:hover, .pMenu a:focus {
        outline: none;
    }

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, .container, .scroller {
    height: 100%;
}

.scroller {
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.scroller,
.scroller-inner {
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    width: 100%;
    overflow-x: hidden;
    height: 92% !important;
    margin-top: 65px;
    margin-bottom: 25px !important;
    padding-left: 30px;
}

.container {
    position: relative;
    overflow: hidden;
    background: #34495e;
    width: 100%;
}
/*---- Menu trigger ----*/

.cont-menu-trigger {
    margin-left: 0;
    float: left;
    position: relative;
    display: block;
}

.menu-trigger {
    -ms-user-select: none;
    -mos-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    user-select: none;
}


.menu-trigger {
    position: absolute;
    top: 14px;
    left: 4px;
    border-radius: 25px;
    background-color: black;
    height: 3px;
    width: 24px;
    border-style: solid;
    border-color: white;
    border-top-width: 18px;
    border-bottom-width: 18px;
    border-left-width: 8px;
    border-right-width: 8px;
    cursor: pointer;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    z-index: 9999;
}

    .menu-trigger:before, .menu-trigger:after {
        background-color: black;
        content: "";
        position: absolute;
        top: -8px;
        left: 0;
        width: 24px;
        height: 3px;
        display: block;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
    }

    .menu-trigger:after {
        top: 8px;
    }


    .menu-trigger.active {
        background-color: white;
    }

        .menu-trigger.active:before {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            top: 0;
        }

        .menu-trigger.active:after {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            top: 0;
        }

.divMainMenu {
    position: fixed;
    left: 0;
    height: 87%;
}

.pMenu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 300px;
    height: 100%;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.menuLevel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

    .divMainMenu::after,
    .menuLevel::after,
    .menuLevel::before {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        content: '';
        opacity: 0;
    }

    .divMainMenu::after,
    .menuLevel::after {
        background: #000000;
        background: rgba(0,0,0,0.3);
        -webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
        -moz-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
        transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
    }

    .menuLevel::after {
        z-index: -1;
    }

    .divMainMenu.menuPushed::after,
    .menuLevel.menuLevel-overlay::after {
        width: 100%;
        height: 100%;
    }

    .menuLevel.menuLevel-overlay {
        cursor: pointer;
    }

        .menuLevel.menuLevel-overlay.menuLevel::before {
            width: 100%;
            height: 100%;
            background: transparent;
            opacity: 1;
        }

.divMainMenu,
.menuLevel {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

/* overlap */
.menu-overlap .menuLevel.menuLevel-open {
    box-shadow: 1px 0 2px #000000;
    box-shadow: 1px 0 2px rgba(0,0,0,0.2);
    -webkit-transform: translate3d(-40px, 0, 0);
    -moz-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
}

/* First level */
.pMenu > .menuLevel,
.pMenu > .menuLevel.menuLevel-open,
.pMenu.menu-overlap > .menuLevel,
.pMenu.menu-overlap > .menuLevel.menuLevel-open {
    box-shadow: none;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* cover */
.menu-cover .menuLevel.menuLevel-open {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

    .menu-cover .menuLevel.menuLevel-open > ul > li > .menuLevel:not(.menuLevel-open) {
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

/* content style */
.pMenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pMenu h2 {
    margin: 0;
    padding: 1em;
    color: #000000;
    color: rgba(0,0,0,0.4);
    text-shadow: 0 0 1px #000000;
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
    font-weight: 300;
    font-size: 2em;
}

.pMenu.menu-overlap h2::before {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 8px;
    font-size: 75%;
    line-height: 1.8;
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.1s 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.1s 0.3s;
    transition: opacity 0.3s, transform 0.1s 0.3s;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
}

.pMenu.menu-cover h2 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1em;
}

.menu-overlap .menuLevel.menuLevel-overlay > h2::before {
    opacity: 1;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
}

.pMenu ul li > a {
    display: block;
    padding: 0.7em 1em 0.7em 1.8em;
    outline: none;
    box-shadow: inset 0 -1px #000000;
    box-shadow: inset 0 -1px rgba(0,0,0,0.2);
    text-shadow: 0 0 1px #ffffff;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    font-size: 12px;
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}

.pMenu ul li::before {
    position: absolute;
    left: 10px;
    z-index: -1;
    color: #000000;
    color: rgba(0,0,0,0.2);
    line-height: 3.5;
}

.menuLevel > ul > li:first-child > a {
    box-shadow: inset 0 -1px #000000, inset 0 1px #000000;
    box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

    /*Sombreado de Menu hover*/
    .pMenu ul li a:hover,
    .menuLevel > ul > li:first-child > a:hover {
        /*background: #000000;
    background: rgba(0,0,0,0.2);*/
        box-shadow: inset 0 -1px #000000;
        box-shadow: inset 0 -1px rgba(0,0,0,0);
        background: #f5f5f5;
    }

.pMenu .menuLevel.menuLevel-overlay > ul > li > a,
.menuLevel.menuLevel-overlay > ul > li:first-child > a {
    box-shadow: inset 0 -1px #000000;
    box-shadow: inset 0 -1px rgba(0,0,0,0);
}

.menuLevel > ul > li:first-child > a:hover,
.menuLevel.menuLevel-overlay > ul > li:first-child > a {
    box-shadow: inset 0 -1px #000000, inset 0 1px #000000;
    box-shadow: inset 0 -1px rgba(0,0,0,0), inset 0 1px rgba(0,0,0,0);
}

/* seems like Chrome 34.0.1847.131 needs the second shadow otherwise the transition breaks */

.menuBack {
    background: #000000;
    background: rgba(0,0,0,0.1);
    outline: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    display: block;
    font-size: 0.8em;
    padding: 1em;
    position: relative;
    box-shadow: inset 0 1px #000000;
    box-shadow: inset 0 1px rgba(0,0,0,0.1);
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
}

    .menuBack::after {
        font-family: 'FontAwesome';
        position: absolute;
        /*content: "\e037";*/
        content: "\f053";
        right: 10px;
        font-size: 1.3em;
        color: #000000;
        color: rgba(0,0,0,0.3);
    }

.pMenu .menuLevel.menuLevel-overlay > .menuBack,
.pMenu .menuLevel.menuLevel-overlay > .menuBack::after {
    background: transparent;
    box-shadow: none;
    color: transparent;
}

.no-csstransforms3d .divMainMenu,
.no-js .divMainMenu {
    padding-left: 300px;
}

.no-csstransforms3d .pMenu .menuLevel,
.no-js .pMenu .menuLevel {
    display: none;
}

.no-csstransforms3d .pMenu > .menuLevel,
.no-js .pMenu > .menuLevel {
    display: block;
}
