.RadSearchBox {
    width: 100% !important
}

.RadAutoCompleteBoxPopup {
    margin-bottom: 15px !important;
}

.racSlide {
    width: 100px !important;
    margin-bottom: 15px !important;
}

.rcbList li img {
    width: 30px !important;
}

.RadGrid {
    border-style: none !important;
}

.RadGrid_Default .rgAltRow {
    background: #ffffff;
}

.RadGrid_Default .rgHeader {
    background: #ffffff 0 -2300px !important;
}

.RadGrid_Default .rgHeader, .RadGrid_Default th.rgResizeCol, .RadGrid_Default .rgHeaderWrapper {
    border-bottom: 2px solid #ddd !important;
}

.rddtFakeInput {
    margin-top: 5px !important;
    padding-left: 2px;
}

.rddlFakeInput {
    margin-top: 5px !important;
    padding-left: 2px;
}

.RadDropDownList_Default {
    width: 190px !important;
}

    .RadDropDownList_Default .rddlInner {
        box-shadow: none !important;
        border-color: #dadae7 !important;
        border-radius: 2px !important;
        background-clip: padding-box !important;
        font-size: 12px !important;
        line-height: 1.42857143 !important;
        height: 30px !important;
        margin: 3px !important;
        margin-left: 0 !important;
        padding: 2px 2px !important;
        background-color: #ffffff !important;
        background-image: linear-gradient(white, #fff) !important;
    }

.RadDropDownTree_Default .rddtInner {
    box-shadow: none !important;
    border-color: #dadae7 !important;
    border-radius: 2px !important;
    background-clip: padding-box !important;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    height: 30px !important;
    margin: -2px !important;
    margin-left: 0 !important;
    padding: 2px 2px !important;
    background-color: #ffffff !important;
    background-image: linear-gradient(white, #fff) !important;
}

.rddlPopup_Default .rddlItemHovered {
    background-color: #e9e9e9 !important;
}

.rddlPopup_Default .rddlItemSelected {
    background-color: #e9e9e9 !important;
}
