<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--Casa-->
    <add name="AudioFilesConn" connectionString="metadata=res://*/ModelData.csdl|res://*/ModelData.ssdl|res://*/ModelData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-B0U3J45\SERVERDATA;initial catalog=AudioFiles;persist security info=True;user id=sa;password=ecl1103;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.webServer>
      <validation validateIntegratedModeConfiguration="false" />
    </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BindingConfigurationService"
                 maxBufferSize="2147483647"
                 maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647"
                 messageEncoding="Text"
                 textEncoding="utf-8"
                 sendTimeout="00:10:00"
                 receiveTimeout="00:10:00"
                 closeTimeout="00:10:00"
                 >

          <readerQuotas maxArrayLength="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--SERVICIO SEGURIDAD-->
    <services>
      <service name="LiveStreamMusic.Services.ServiceSeguridad" >
        <endpoint address="" name="EndPointSeguridad" bindingConfiguration="BindingConfigurationService"
          binding="basicHttpBinding" contract="LiveStreamMusic.Services.IServiceSeguridad" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="LiveStreamMusic.Services.ServiceMusica" >
        <endpoint address="" name="EndPointSeguridad" bindingConfiguration="BindingConfigurationService"
          binding="basicHttpBinding" contract="LiveStreamMusic.Services.IServiceMusica" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>